colorama
requests
shodan
mmh3
impacket
PyExecJS
python3-nmap
beautifulsoup4
fake-useragent
googlesearch-python
alive-progress
python-whois
aiohttp
dnspython
waybackpy
ratelimit
pyjwt
boto3
ipinfo
fake-useragent
pysocks
tqdm
bs4
